.about{
    
    &__container{
        .container;
    }
    &__block1{
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-areas: 
        "title pic"
        "text text";
        gap: 50px 60px;
        @media @bw768 {
            grid-template-columns: 100%;
            grid-template-areas: 
              "title"
              "pic"
              "text"
              "text"
        }
    }
    &__block2{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-areas: 
        "pic1 pic2"
        "title pic2"
        "text text";
        gap: 50px 60px;
        @media @bw768 {
            grid-template-columns: 100%;
            grid-template-areas: 
              "pic1"
              "title"
              "text"
              "pic2"; 
        }
    }
    &__picture{
        grid-area: pic1;
    }
    &__subtitle{
        grid-area: title;
        margin-top: 50px 0 0;
        font-size: 44px;
        @media @bw768 {
            font-size: 26px;
            font-weight: 700;
        }
    }
    &__text{
        grid-area: text;
        margin: 0;
        margin-left: auto;
        max-width: 870px;
        font-size: 18px;
        font-weight: 400;
        @media @bw768 {
            font-size: 20px;
        }
    }
    &__picture2{
        grid-area: pic2;
        align-self: flex-end;
    }
    &__block3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 110px;
        grid-template-areas:
            "pic3 text"
            "pic3 content";
        align-items: center;
        gap: 50px;
    
        @media @bw1340 {
            grid-template-columns: 1fr;
            grid-template-areas:
                "pic3"
                "row"; 
        }
    }
    

    &__block3-row {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        gap: 88px;
        padding-top: 173px;
        @media @bw1340 {
            flex-direction: row; 
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
        }
    }

    &__block3-picture{
        grid-area: pic3;
        display: block;
        width: 100%;
        width: 930px;
        box-sizing: border-box;
        padding: 18px 19px 0 49px;
        position:relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 64.7%;
            background-color: @red;
        }
        &::after{
            display: block;
            width: 100%;
            content: '';
            padding-top: 40.86%;
        }
        @media @bw1340 {
            justify-content: center;
        }
    }
        
    
    &__block3-img{
        position: absolute;
        top: 19px;
        left:49px;
        width: calc(100% - 57px);
        object-fit: contain;
    }
    &__block3-content {
        grid-area: content;
        max-width: 344px;
    }
    &__block3-text {
        grid-area: text;
        font-size: 18px;
        font-weight: 400;
        max-width: 344px;
        margin-bottom: 0;
        @media @bw1340 {
            font-size: 16px;
            max-width: 280px;
        }
    }
    &__block3-link{
        display: flex;
        font-size: 16px;
        font-weight: 600;
        align-items: center;
        gap: 117px;
        color: @black;
        text-decoration-color: transparent;
        transition: color 0.2s, text-decoration-color 0.2s;
        &:hover {
            color: @red;
            text-decoration-color: @red;
        }
    }
    &__arrow {
        position: relative;
        justify-content: center;
        right: 0;
        bottom: 30px;
    }
}

