.events {
    padding: 140px 0 100px;
  &__listing {
    margin-bottom: 100px;
  }
  &__arrowdown{
    display: block;
    
    text-align: center;
  }
  &__tariffs-table{
    padding: 0 140px 0 100px;
    
  }
  .p{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    max-width: 868px;
  }
.link{
    display: block;
    padding: 0 0 18px 0;
    text-align: center;
  }
}